@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  font-family: "Outfit", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 14px;
}
